/* Navbar */

.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: var(--navbar-height);
}

.nav-menu{
    display: flex;
}

@media screen and (max-width: 768px) {

    .nav-menu{
        flex-direction: column;
    }

    .nav-item:not(:first-of-type){
        margin-top: 1em;
    }

}

@media screen and (min-width: 768px) {

    .nav-logo,
    .nav-link{
        color: var(--clr-neutral-900);
    }

    .nav-item:not(:first-of-type){
        margin-left: 1em;
    }

}