/* ======================================== Google Fonts ======================================== */

@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700&display=swap');

/* ======================================== CSS Variables ======================================== */

:root{

    /* Colros */
    --clr-primary-900:rgb(69, 0, 0)  ;
    --clr-primary-700:rgb(96, 0, 0) ;
    --clr-primary-500:rgb(141, 0, 0) ;
    --clr-primary-400:rgb(255, 0, 0) ;

    --clr-neutral-900:rgb(0, 0, 0) ; /* Preto escuro */
    --clr-neutral-700:rgb(19, 19, 19) ; /* Preto mais claro */   
    --clr-neutral-500:rgb(236, 236, 236) ; /* Cinza claro */
    --clr-neutral-400:rgb(255, 255, 255) ; /* Branco */

    /* Typography */
    --fz-largest: 2.441rem;
    --fz-larger: 1.953rem;
    --fz-large: 1.563rem;
    --fz-medium: 1.25rem;
    --fz-normal: 1rem;
    --fz-small: 0.8rem;
    --fz-smallest: 0.64rem;

    --fw-bold: 700;
    --fw-semibold: 600;
    --fw-medium: 500;
    --fw-normal: 400;
    --fw-thin: 300;

    --ff-body: 'Rubik', sans-serif;

    /* Sizes */
    --pr-largest: 8rem;
    --pr-larger: 6rem;
    --pr-medium: 4rem;
    --pr-normal: 2rem;
    --pr-small: 1rem;
    --pr-smaller: .5rem;

    --pe-largest: 8em;
    --pe-larger: 6em;
    --pe-medium: 4em;
    --pe-normal: 2em;
    --pe-small: 1em;
    --pe-smaller: .5em;

    --navbar-height: 6rem;
    
}

/* ======================================== HTML Reseting ======================================== */

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    line-height: 1.6;
    font-size: var(--fz-normal);
    font-weight: var(--fw-normal);
    font-family: var(--ff-body);
}

h1,
h2,
h3,
h4,
h5{
    font-weight: var(--fw-bold);
}

ul{
    display: flex;
    list-style: none;
}

a{
    text-decoration: none;
    display: inline-block;
}

/* ======================================== CSS Reusable Classes ======================================== */

.container{
    width: min(70rem, 90%);
    margin-inline: auto;
}